@tailwind base;
@tailwind components;
@tailwind utilities;

.App-header {
    background-color: #4279A6;
    min-height: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #4279A6;
    margin-bottom: 5vh;
    text-align: center;
}

.ant-btn-primary {
    background-color: Grey;
}

/* Change placeholder color for InputNumber */
.ant-input-number-input::-webkit-input-placeholder {
    color: #333; /* Change placeholder color to gray */
  }
  
  .ant-input-number-input::-moz-placeholder {
    color: #333; /* Change placeholder color to gray */
  }
  
  .ant-input-number-input:-ms-input-placeholder {
    color: #333;; /* Change placeholder color to gray */
  }
  
  .ant-input-number-input::placeholder {
    color: #333;; /* Change placeholder color to gray */
  }
  